body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.header {
  padding-top: 20px;
  text-align:center;  
 
}

.header-title {
  text-align: center;
  font-size: 15px;
  margin: 0 10%;
}

.header-icon{
	height: 80px ;
	width : 80px ;
}

.icon {
	height: 30px ;
	width : 30px ;
}