body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.advert-title {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.advert {
  padding: 20px 0;
  background-color:	#EDEDED;
}

.am-header am-header-default{
	 background-color:#3cc51f;
}

.header-icon{
	height: 50px ;
	width : 50px ;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.left-button{
	margin-left :15px;
}

.right-button{
	float:right;
	margin-right :15px;
}

.button_sp_area{
	margin-bottom:10px;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

.buttom-icon{
	padding-top:20px;
	text-align: center;
}

.add-button{
	height: 50px ;
	width : 50px ;
}

footer a {
  color: #999;
  text-decoration: none;
}